* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: inline-block;
}

body {
  font-family: roboto;
  padding: 1em;
  color: #042e43;
}
.container {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
.grids {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
.grid {
  padding: 1em;
  border: 1px solid #999;
  border-radius: 4px;
  height: 295px;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-direction: column;
}
.header {
  display: flex;
  gap: 1em;
  align-items: flex-start;

  h2 {
    font-size: 1.1em;
    font-weight: 500;
  }
}
.header-content {
  width: 100%;
}

.verified {
  color: #345c24;
  border: 1px solid #b4e5c0;
  padding: 0.25em 0.5em;
  background-color: #d4edda;
  margin-top: 0.45em;
  border-radius: 6px;
}
img {
  width: 70px;
}

input[type="file"] {
  cursor: pointer;
  font-size: 1em;
  background-color: rgba(25, 88, 120, 0.089);
  border: 1px solid #cbcbcb;
  padding: 0.35em;
  border-radius: 4px;
  width: 100%;
}
.group {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  justify-content: space-between;
  padding: 1em 0.5em;
  margin: 1em 0 1em 0;
  border-radius: 8px;
  gap: 2em;
  > * {
    flex: 1;
  }
}
.button-group {
  display: flex;
  align-items: center;
}
.btn {
  background-color: rgb(33, 101, 135);
  padding: 0.5em 2em;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  border-radius: 4px;
  font-size: 1em;
}
.print {
  background-color: #e8a62d;
}
.code {
  padding: 0.25em;
  border-radius: 4px;
}

.student-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25em;

  > * {
    padding: 0.5em;
    background-color: #f1f1f1;
    border: 1px solid #b6b7b6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
}
.category {
  font-size: 3em;
  font-weight: bold;
}
.id {
  display: flex;
  align-items: center;
  gap: 0.25em;
  align-items: flex-start;
  /* flex-direction: column; */

  img {
    width: 20px;
  }
}
.signature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
  gap: 0.25em;
}

.line {
  height: 2px;
  border-radius: 10px;
  background-color: #000;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25em;
  text-transform: capitalize;
  width: 100%;
  /* background-color: pink; */

  button {
    outline: none;
    border: none;
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    background-color: rgb(33, 101, 135);
    grid-column: span 2;
    transition: 0.1s;
  }
  button:hover {
    background-color: rgb(25, 88, 120);
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  gap: 0.5em;

  label {
    /* background-color: red; */
    text-align-last: left;
  }
  input,
  select {
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
  }
}

/* error */
.opened {
  padding: 1em;
  border: 1px solid rgb(246, 39, 80);
  font-size: 1.1em;
  background: rgba(172, 7, 40, 0.725);
  color: rgb(255, 255, 255);
  width: min(400px, 100% - 4rem);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  border-radius: 5px;
  backdrop-filter: blur(4px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
details {
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}
details[open] {
  padding: 1em;
  border: 1px solid #ddd;
  /* width: fit-content; */
}
summary {
  cursor: pointer;
  background: #276cac10;
  width: fit-content;
  /* margin: 0 auto; */
  padding: 0.25em 0.55em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

details[open] summary {
  margin-bottom: 1em;
}

@media (width < 800px) {
  .group {
    flex-direction: column;
    gap: 0.6em;

    > button {
      width: 100%;
    }
  }
  .heading {
    text-align: left;
    font-size: 1.4em;
  }
  .grids {
    padding: 0.8em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
  .grid {
    padding: 0.8em;
    height: 295px;
    display: flex;
    gap: 0.5em;
  }
  .header {
    gap: 1em;

    h2 {
      font-size: 1em;
    }
  }

  .form {
    grid-template-columns: 1fr;
    display: block;
  }
}
@media (width < 600px) {
  .form {
    grid-template-columns: 1fr;
    /* display: flex; */
  }
  .form-group {
    padding: 0.2em;
    gap: 0.45em;
    /* background-color: red; */
  }
  .student-details {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.25em;

    > * {
      padding: 0.25em;
    }
  }
  .category {
    font-size: 2em;
    font-weight: bold;
  }
}

/* print query */
@media print {
  .grids {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
  .grid {
    padding: 1em;
    border: 1px solid #999;
    border-radius: 4px;
    height: 295px;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    flex-direction: column;
  }

  img {
    width: 70px;
  }

  .group {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    justify-content: space-between;
    padding: 1em 0.5em;
    margin: 1em 0 1em 0;
    border-radius: 8px;
    gap: 2em;
  }

  .code {
    padding: 0.25em;
    border-radius: 4px;
  }

  .student-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25em;

    > * {
      padding: 0.5em;
      background-color: #f1f1f1;
      border: 1px solid #b6b7b6;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  .category {
    font-size: 3em;
    font-weight: bold;
  }
  .id {
    display: flex;
    align-items: center;
    gap: 0.25em;
    align-items: flex-start;
    /* flex-direction: column; */

    img {
      width: 20px;
    }
  }
  .signature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
    gap: 0.25em;
  }

  .line {
    height: 2px;
    border-radius: 10px;
    background-color: #000;
  }

  input,
  select {
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid;
    border-radius: 4px;
    text-transform: capitalize;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
  }

  body {
    padding: 0;
  }
  [contenteditable] {
    outline: none; /* Remove contenteditable outline during print */
  }
  .container {
    display: none;
  }
}
