* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: inline-block;
}

body {
  font-size: 1em;
  font-family: roboto;
  padding: 1em;
}
.container {
  text-align: center;
  /* background-color: #f1f1f1; */
}
.grids {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}
.grid {
  padding: 1em;
  border: 1px solid #999;
  border-radius: 4px;
  height: 295px;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  flex-direction: column;
}
.header {
  display: flex;
  gap: 1em;
  align-items: flex-start;

  h2 {
    font-size: 1.1em;
    font-weight: 500;
  }
}
.header-content {
  /* background-color: red; */
  width: 100%;
}
.verified {
  color: #345c24;
  border: 1px solid #b4e5c0;
  padding: 0.25em 0.5em;
  background-color: #d4edda;
  margin-top: 0.45em;
  border-radius: 6px;
}
img {
  width: 70px;
}
.student-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25em;

  > * {
    padding: 0.5em;
    background-color: #f1f1f1;
    border: 1px solid #b6b7b6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.code {
  padding: 0.25em;
  /* background-color: red; */
  border-radius: 4px;
}
input {
  cursor: pointer;
}
.btn {
  background-color: rgb(18, 106, 200);
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  margin-top: 1em;
  border-radius: 4px;
}

@media print {
  body {
    padding: 0;
  }
  /* input,
  button {
    display: none;
  } */
  .container {
    display: none;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
}
.category {
  font-size: 3em;
  font-weight: bold;
}
.id {
  display: flex;
  align-items: center;
  gap: 0.25em;
  align-items: flex-start;
  /* flex-direction: column; */

  img {
    width: 20px;
  }
}
.signature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
  gap: 0.25em;
}

.line {
  height: 2px;
  border-radius: 10px;
  background-color: #000;
}
